.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px;
}
.btn-tambah {
  background-color: #ff1493;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.btn-tambah:hover {
  background-color: #cc0077;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(255, 20, 147, 0.1);
}
thead {
  background-color: #ff1493;
  color: white;
}
th,
td {
  padding: 12px 8px;
  text-align: left;
  border-bottom: 1px solid #ffe6f0;
}
tr:last-child td {
  border-bottom: none;
}
tr:hover td {
  background-color: #fff0f7;
}
.badge {
  background-color: #ffe6f0;
  color: #ff1493;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}
.actions {
  display: flex;
  gap: 8px;
}
.btn-edit {
  background-color: #fff;
  color: #ff1493;
  border: 1px solid#ff1493;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
}
.btn-edit:hover {
  background-color: #ff1493;
  color: white;
}
.btn-hapus {
  background-color: #fff;
  color: #ff1493;
  border: 1px solid #ff1493;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}
.btn-hapus:hover {
  background-color: #ff1493;
  color: white;
}
.alert-success {
  background: #d4edda;
  color: #155724;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #ff1493;
  text-decoration: none;
  font-size: 14px;
}
.back-link:hover {
  text-decoration: underline;
}
.btn-nonaktif {
  background-color: #fff;
  color: #ff1493;
  border: 1px solid #ff1493;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}
.btn-nonaktif:hover {
  background-color: #ff1493;
  color: white;
}
.btn-aktif {
  background-color: #fff;
  color: #28a745;
  border: 1px solid #28a745;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}
.btn-aktif:hover {
  background-color: #28a745;
  color: white;
}
.stok-habis td {
  opacity: 0.5;
}
